
<div class="mb-3 col-6 mx-auto">
    <label class="form-label for="<%= name %>"><%= name %></label>
    <input class="form-control form-control-sm" 
        type="<%= type %>" 
        name="<%= name %>" 
        id="<%= name %>"
        placeholder="Renseigner <%= name %>"
    >
</div>