<% if (locals.matters) { %>
    <table class="table table-bordered table-hover table-primary table-striped mt-2">
        <thead>
            <tr>
                <th>ID</th>
                <th>Libelle</th>
                <th>Coefficient</th>
                <th class="text-warning" >Modifier</th>
                <th class="text-danger">Supprimer</th>
            </tr>
        </thead>
        <tbody>
            <% matters.forEach(matter => { %>
            <tr>
                <td><%= matter.id %></td>
                <td><%= matter.libelle %></td>
                <td><%= matter.coefficient %></td>
                <td><button class="btn btn-warning" ><a href="/matter/<%= matter.id %>">Modifier</a></button></td>
                <td>
                    <form action="/matter/<%= matter.id %>" method="post" >
                        <button class="btn btn-danger" type="submit">Supprimer</button>
                    </form>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <% } else { %>
        <div class="mt-2">
            <h3>Aucun élèment dans la liste</h3>
        </div>
    <% } %>