<%- include("../partials/header", {title: "Gestion des Note de "}) %>

<div class="container py-3">
    <h2 class="text-center">Gestion des Notes</h2>
    <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 py-0 px-0">
        
        <div class="col col-md-4 col-lg-4 py-0 px-0">
            <%- include('./form-add', {}) %>
        </div>
        
        <main class="col col-md-8 col-lg-8 py-0 px-0">
            <div class="text-center">
                <h4><%= etudiant.fullName %></h4>
            </div>
            <table class="table table-bordered table-hover table-primary text-center">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Matière</th>
                        <th>Coefficient</th>
                        <th>Note</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <% notes.forEach(element => { %>
                        <tr>
                            <td></td>
                            <td><%= element.matter.libelle %></td>
                            <td><%= element.matter.coefficient %></td>
                            <td><%= element.note %></td>
                            <td><%= element.note * element.matter.coefficient %></td>
                        </tr>
                    <% }) %>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <th><%= 45 %></th>
                        <td></td>
                        <th><%= 345 %></th>
                    </tr>
                </tfoot>
            </table>
           
        </main>
    </div>
</div>


<%- include("../partials/footer", {}) %>