<%- include("../partials/header", {title: "Connexion"}) %>

<div class="container py-3">
    <h1>Créer un examen</h1>

    <form class="form" action="/examen/add" method="post">
        <%- include("../components/input", {type: 'text', name: 'libelle'}) %>
        <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control " name="description" id="description" 
            cols="20" rows="5"></textarea>
        </div>
        <%- include("../components/input", {type: 'date', name: 'dateDebut'}) %>
        <%- include("../components/input", {type: 'date', name: 'dateFin'}) %>
        <div class="col-md-12">
            <button class="btn btn-primary" type="submit">Créer un examen</button>
        </div>
    </form>
</div>


<%- include("../partials/footer", {}) %>